<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/ec741752-e277-4aa4-bf42-11ba6cda27df/resourceGroups/vm-manager/providers/Microsoft.ApiManagement/service/VmInventoryApi/apis/InventoryApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/ec741752-e277-4aa4-bf42-11ba6cda27df/resourceGroups/vm-manager/providers/Microsoft.Web/sites/vm-manager</ResourceId>
    <ResourceGroup>vm-manager</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://vm-manager-axhadxh5hjehayh0.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ebc9b474-23b9-e98b-6888-1a8b6a117175</ProjectGuid>
    <PublishUrl>https://vm-manager-axhadxh5hjehayh0.scm.australiaeast-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>